body{
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100% 720px;
        color: lightgrey;
        background-color: #272c33;

}

.container{
	width: 500px;
        height: 100%;
	text-align: center;
	margin: 0 auto;
        background-color: rgba(66, 73, 78, 0.7);
	margin-top: 6em;
        padding-bottom: 10px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 3px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input::before{
	content: "\f023";
	font-family: "FontAwesome";
	padding-left: 07px;
	padding-top: 35px;
	position: absolute;
	font-size: 30px;
	color: #2980b9;
        font-weight: 900;
}

.form-input:nth-child(2)::before{
	content: "\f007";
}

.btn-login{
	padding: 10px 20px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}
a {
    color: white;
}
.rounded{
    border-radius: 30px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}