body {
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    width: 100%;
    margin: auto;
    text-align: center;
}

nav{
    background-color: #272c33;
    margin-bottom: 0px;
}