.row.content {height: 750px;}
    
    .sidenav {
      background: #272c33;
      height: 100%;
    }
    .mytitle {
        color: whitesmoke;
        text-align: center;
    }
    .dashboard {
        font-size: 16px;
    }
    .menu-icon {
          color: #8b939b;
          padding-right: 2em; }
    .dashboard > a:hover, .dashboard > a:hover .menu-icon {
        color: #fff;
        background-color: transparent !important;
    }
    .mycontainer {
        padding: 0;
    }
    .well {
        margin-bottom: 5px;
    }
    
    /*        Widget One
---------------------------*/
.dib {
  display: inline-block; }

.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block; }

.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px; }

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #373757; }

  .user-area .user-menu {
    background: #fff;
    border: none;
    font-family: 'Open Sans';
    left: inherit !important;
    right: 0;
    top: 28px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px; }
    .user-area .user-menu .nav-link {
      color: #272c33;
      display: block;
      font-size: 14px;
      line-height: 22px;
      padding: 5px 0; }
  .user-area .user-avatar {
    float: right;
    margin-top: 4px;
    width: 32px; 
    font-size: 22px;
    color: #272c33;
    }
   
  .user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center; }
  .user-area .dropdown-toggle:after {
    display: none; }
  
  .user-area {                        
  float: right;
  padding-right: 0;
  position: relative;}
  
  .menu-title {
    border-bottom: 1px solid #4e4e52;
    color: #9496a1;
    clear: both;
    display: block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 15px 0 0;
    text-transform: uppercase;
    width: 100%;
  }
  
  .welcomewell{
      padding: 271px;
  }
  
  .welcome {
      color: black;
      font-size: 33px !important;
  }
  .bystate {
      margin-left: 28% !important;
      padding-right: 0;
      padding-left: 0;
      padding-top: 2px;
  }
  .caseschart {
      padding-top: 1rem;
  }
  
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
      .mytitle .menu-icon{color: #8b939b;}
    }